In [1]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [2]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [4]:
# namedtuple

from collections import namedtuple
City = namedtuple("City", ["name", "country", "population", "coordinates"])
tokyo = City("Tokyo", "JP", 36.933, (35.689, 139.69))

print(tokyo)
print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689, 139.69))
36.933
(35.689, 139.69)
JP

Tuple is immutable

In [10]:
# pitfall for building list
# version 1 which is fine
board = [['_'] * 3 for i in range(3)]
board[1][2] = 'X'
print(board)

# but if we use following, all cell from column 2 will become o
board_2 = [['_'] * 3] * 3
board_2[1][2] = 'o'
print(board_2)

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]
[['_', '_', 'o'], ['_', '_', 'o'], ['_', '_', 'o']]